@model AdminLTE.MVC.Models.ProductMaster

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



@{
    List<object> commands = new List<object>();
    commands.Add(new { type = "edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } });
   
}

<a href="/Product/Index" class="btn btn-default"> Active List</a>
<ejs-grid id="Grid" dataSource="@ViewBag.DataSource" height="273" commandClick="commandClick">
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Batch"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="Product_Id" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="BrandName" headerText="Brand Name" width="120"></e-grid-column>
        <e-grid-column field="CategoryName" headerText="Category Name" width="120"></e-grid-column>
        <e-grid-column field="SubCategoryName" headerText="SubCategory Name" width="150"></e-grid-column>
        <e-grid-column field="Product_Name" headerText="Product Name" width="150"></e-grid-column>
        <e-grid-column headerText="Manage Records" width="150" commands="commands"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


><script>
    function commandClick(args) {

        if (args.commandColumn.type === 'edit') {
            window.location.href = "/Product/EditPrimary/" + args.rowData.Product_Id;
        }

        if (args.commandColumn.type === 'delete') {
            $('#productId').val(args.rowData.Product_Id);
            $('#productName').text(args.rowData.Product_Name);
            $('#modal-small').modal('show');
        }
    }

</script>