@{ 
   ViewData["Title"] = "Privacy Policy";
   Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<button type="button" id="btn" class="btn btn-primary">alert</button>


<script type="text/javascript">
     $('#btn').click(function () {
        alert(1);
    });

</script>